<main class="main">
  <div class="container">
    <header class="main__header">
      <div class="logo">macaroons</div>
      <nav class="main__menu" #menuEl>
        <a class="main__menu-item" (click)="scrollTo(assortmentEl);openMenu(menuEl)">Пироженки</a>
        <a class="main__menu-item" (click)="scrollTo(advantagesEl);openMenu(menuEl)">О нас</a>
        <a class="main__menu-item" (click)="scrollTo(orderEl);openMenu(menuEl)">Оформить заказ</a>
        <div class="main__menu-close-ico" (click)="openMenu(menuEl)">&#215;</div>
      </nav>
      <div class="contacts main__contacts">{{phoneNumber}}</div>
      <div class="main__menu-ico" (click)="openMenu(menuEl)">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40px" height="22px">
          <path fill-rule="evenodd" fill="rgb(130, 19, 40)"
            d="M0.0,0.0 L39.999,0.0 L39.999,1.999 L0.0,1.999 L0.0,0.0 Z" />
          <path fill-rule="evenodd" fill="rgb(130, 19, 40)"
            d="M0.0,10.0 L39.999,10.0 L39.999,12.0 L0.0,12.0 L0.0,10.0 Z" />
          <path fill-rule="evenodd" fill="rgb(130, 19, 40)"
            d="M0.0,19.999 L39.999,19.999 L39.999,21.999 L0.0,21.999 L0.0,19.999 Z" />
        </svg>
      </div>
    </header>
    <section class="main__section container">
      <div class="main__info">
        <h1 class="main__title">Мягкие французские
          пироженки Macaroons</h1>
        <p class="main__text">Побалуйте себя и своих близких самыми вкусными и ароматными домашними
          пироженками Macaroon!</p>
        <a class="main__button button" (click)="scrollTo(assortmentEl)">Выбрать макарун</a>
      </div>
      <div class="main__image">
        <img src="../assets/images/macaroon_big.png" alt="macaroons" class="main__image-img">
      </div>
    </section>
  </div>
</main>
<section class="advantages" #advantagesEl>
  <div class="container">
    <div class="advantages__box">
      <div class="advantages__info">
        <h2 class="advantages__title">Мы печём для вас
          вкуснейшие макаруны
          уже более 10 лет</h2>
        <p class="advantages__text">Все пироженки мы готовим только из натуральных и качественных продуктов,
          без консервантов, ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%,
          без дрожжей, маргарина, разрыхлителей и улучшителей муки.</p>
      </div>
      <div class="advantages__image">
        <img src="../assets/images/macaroon_big2.png" alt="macaroons" class="advantages__image-img">
      </div>
    </div>
    <div class="advantages__items">
      @for (advantage of advantages; track advantage; let i = $index) {
      <div class="item">
        <div class="item__number">{{i+1}}</div>
        <h4 class="item__title">{{advantage.title}}</h4>
        <p class="item__text">{{advantage.text}}</p>
      </div>
      }
    </div>
  </div>
</section>
<section class="assortment" #assortmentEl>
  <div class="assortment__container container">
    <h2 class="assortment__title">Выберите свой макарун</h2>
    <div class="assortment__units">
      @for (unit of assortment; track unit; let i = $index) {
      <div class="unit">
        <img src="../assets/images/{{unit.image}}" alt="macaroon {{i+1}}" class="unit__image">
        <div class="unit__box">
          <h4 class="unit__name">{{unit.name}}</h4>
          <p class="unit__count">{{unit.count}} шт.</p>
          <p class="unit__price">{{(unit.price).toFixed(2)}} руб.</p>
          <a class="unit__button button" (click)="onOrder(unit, orderEl)">Заказать</a>
        </div>
      </div>
      }
    </div>
  </div>
</section>
<section class="order" #orderEl>
  <div class="order__container container">
    <div class="order__berry-one">
      <img src="../assets/images/berry1.png" alt="berry" class="order__berry-one-img">
    </div>
    <div class="order__image">
      <img src="../assets/images/macaron_bg.png" alt="macaroons" class="order__image-img">
    </div>
    <div class="order__box">
      <h2 class="order__title">Закажите макарун!</h2>
      <p class="order__text">Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </p>
      <form class="order__form">
        <p class="order__label-change">Ваш выбор</p>
        <input type="text" placeholder="Напишите, что хотите заказать..." class="order__iput-change input"
          [(ngModel)]="formValue.userChange" name="order_change">
        <p class="order__label-data">Заполните данные для заказа</p>
        <input type="text" placeholder="Ваше имя" class="order__input-name input" [(ngModel)]="formValue.userName"
          name="user_name">
        <input type="text" placeholder="+375 (__) ___ - __ - __" class="order__input-phone input"
          [(ngModel)]="formValue.userPhone" name="user_phone">
        <a class="order__button button">Оформить заказ</a>
      </form>
    </div>
    <div class="order__berry-two">
      <img src="../assets/images/berry2.png" alt="berry">
    </div>
  </div>
</section>
<footer class="footer" #footerEl>
  <div class="footer__container container">
    <div class="footer__logo">
      <div class="logo">macaroons</div>
    </div>

    <div class="footer__social">
      <div class="footer__ico">
        <a href="{{instaLink}}"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100"
            viewBox="0,0,256,256" class="footer__ico-svg">
            <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
              stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
              font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"
              class="svg-fill">
              <g transform="scale(10.66667,10.66667)">
                <path
                  d="M8,3c-2.757,0 -5,2.243 -5,5v8c0,2.757 2.243,5 5,5h8c2.757,0 5,-2.243 5,-5v-8c0,-2.757 -2.243,-5 -5,-5zM8,5h8c1.654,0 3,1.346 3,3v8c0,1.654 -1.346,3 -3,3h-8c-1.654,0 -3,-1.346 -3,-3v-8c0,-1.654 1.346,-3 3,-3zM17,6c-0.55228,0 -1,0.44772 -1,1c0,0.55228 0.44772,1 1,1c0.55228,0 1,-0.44772 1,-1c0,-0.55228 -0.44772,-1 -1,-1zM12,7c-2.757,0 -5,2.243 -5,5c0,2.757 2.243,5 5,5c2.757,0 5,-2.243 5,-5c0,-2.757 -2.243,-5 -5,-5zM12,9c1.654,0 3,1.346 3,3c0,1.654 -1.346,3 -3,3c-1.654,0 -3,-1.346 -3,-3c0,-1.654 1.346,-3 3,-3z">
                </path>
              </g>
            </g>
          </svg></a>
      </div>
      <div class="footer__info">Мы в Instagram</div>
    </div>
    <div class="footer__contacts contacts">{{phoneNumber}}</div>
    <div class="footer__rights">Все права защищены, 2020</div>
  </div>
</footer>
@if (showPresent) {
<div class="present">
  <div class="present__popup">Оформите заказ и получите подарок!</div>
  <div class="present__box">
    <img src="../assets/images/present.png" alt="present box">
  </div>
</div>
}